flow.json
[
    {
        "id": "367c0125f933bfb7",
        "type": "tab",
        "label": "Save/Download CSV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "612ef728a32f9e5e",
        "type": "group",
        "z": "367c0125f933bfb7",
        "name": "Flow to add mac address to dropdown dashboard",
        "style": {
            "stroke": "none",
            "label": true,
            "fill": "#d1d1d1",
            "fill-opacity": "0.54"
        },
        "nodes": [
            "f8772a73c94b8c46",
            "f55aa002438094ac",
            "53b4fe5732ba269e",
            "67a28d025ff38caf"
        ],
        "x": 674,
        "y": 519,
        "w": 792,
        "h": 82
    },
    {
        "id": "77a18e0520aad55c",
        "type": "group",
        "z": "367c0125f933bfb7",
        "name": "Flow to download CSV file from dashboard",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "fill-opacity": "0.52",
            "label": true
        },
        "nodes": [
            "afff5407a4c02b5c",
            "ae71c3f584d4af92",
            "7ca014cf5c2c22a1",
            "5a49bc11c69f32f9",
            "b015300ae5e56747",
            "a4bade70426d3646",
            "ff09bfb97c5f7a34",
            "3aa1ed372bd363ca",
            "8b9170e2771f4b40",
            "373c0bfed63f5c82",
            "5c1ffe5a9a96e09d",
            "54b1afc2cc6fa040",
            "916fdfee0dacbb72",
            "920dd385513c57fe",
            "50e630bb191e3cbe",
            "dff91035a57735ab",
            "719f3663bdb487dc",
            "ee1fc8c0baed35d2",
            "c52c58538a600a0f",
            "dc27068110a06ab6",
            "bdc4cf42432570d8",
            "1df3409f07086094",
            "782a349dfeef3656",
            "73d57daa16667e08",
            "b95a29cc092f43a7",
            "12591705d9a7449d",
            "955cc824bd59dc07",
            "378fdc01118aa93e",
            "7c18c3c1e4960274"
        ],
        "x": 674,
        "y": 679,
        "w": 1192,
        "h": 382
    },
    {
        "id": "6ce5d36c05508085",
        "type": "group",
        "z": "367c0125f933bfb7",
        "name": "This flow saves CSV files.",
        "style": {
            "stroke": "none",
            "fill": "#ffefbf",
            "fill-opacity": "0.41",
            "label": true
        },
        "nodes": [
            "e05e24198e4874c7",
            "c31c9e9587ef8df8",
            "71021df82448d14a",
            "70250f3f222e5273",
            "6cecc2ea0bb96daa"
        ],
        "x": 674,
        "y": 359,
        "w": 952,
        "h": 82
    },
    {
        "id": "e05e24198e4874c7",
        "type": "file",
        "z": "367c0125f933bfb7",
        "g": "6ce5d36c05508085",
        "name": "write-file-locally",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "c31c9e9587ef8df8"
            ]
        ]
    },
    {
        "id": "c31c9e9587ef8df8",
        "type": "debug",
        "z": "367c0125f933bfb7",
        "g": "6ce5d36c05508085",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 400,
        "wires": []
    },
    {
        "id": "777ff228af62e0ad",
        "type": "debug",
        "z": "367c0125f933bfb7",
        "name": "All messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "49d804df8777a404",
        "type": "switch",
        "z": "367c0125f933bfb7",
        "name": "filter-by-sensor-data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "70250f3f222e5273",
                "53b4fe5732ba269e"
            ]
        ]
    },
    {
        "id": "71021df82448d14a",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "6ce5d36c05508085",
        "name": "format-sensor-data",
        "func": "// Extract the payload from the incoming message\nconst payload = msg.payload;\n\n// 1. Prepare the data for the CSV row\n// ------------------------------------\n\n// Define the common fields that will be in every CSV file\nconst commonData = {\n    time: msg.time, \n    firmware: payload.firmware,\n    count: payload.counter,\n    battery: payload.battery_percent,\n    rssi: payload.rssi || '-'\n};\n\n// Get the sensor-specific data\nconst sensorData = payload.sensor_data;\nconst sensorType = payload.sensor_type;\n\n// Combine the common data and the sensor-specific data into a single, flat object.\n// The order of columns will be: commonData keys, then sensorData keys.\nconst flatData = { ...commonData, ...sensorData };\n\n\n// 2. Generate the CSV header and data row strings\n// ------------------------------------------------\n\n// The header is the list of keys from our flat data object\nconst headers = Object.keys(flatData);\n// The data row is the list of values.\nconst values = Object.values(flatData);\n\n// Convert arrays into comma-separated strings\nconst headerString = headers.join(',');\nconst rowString = values.join(',');\n\n\n// 3. Handle writing the header only once per file\n// -----------------------------------------------\n// We use flow context to remember if we've already written the header for a specific sensor type.\nconst contextKey = `header_written_${sensorType}`;\nconst headerWritten = flow.get(contextKey) || false;\n\nlet csvPayload = \"\";\n\nif (!headerWritten) {\n    // If the header hasn't been written yet, combine the header and the first row.\n    // The '\\n' creates a new line between the header and the data.\n    csvPayload = headerString + '\\n' + rowString;\n    // Save the state to the flow context so we don't write the header again.\n    flow.set(contextKey, true);\n    \n    //node.log(`Writing new file with header for sensor_type: ${sensorType}`);\n} else {\n    // If the header has already been written, the payload is just the new data row.\n    csvPayload = rowString;\n}\n\n// 4. Prepare the message for the 'file' node\n// --------------------------------------------\n// The 'file' node uses msg.payload as the content\nmsg.payload = csvPayload;\n\n// Pass the message to the next node in the flow (the 'file' node)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "e05e24198e4874c7"
            ]
        ]
    },
    {
        "id": "6abd7e2e62ed73bc",
        "type": "ncd-gateway-node",
        "z": "367c0125f933bfb7",
        "name": "",
        "connection": "",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "777ff228af62e0ad",
                "49d804df8777a404"
            ]
        ]
    },
    {
        "id": "70250f3f222e5273",
        "type": "change",
        "z": "367c0125f933bfb7",
        "g": "6ce5d36c05508085",
        "name": "build-payload",
        "rules": [
            {
                "t": "set",
                "p": "addr",
                "pt": "msg",
                "to": "payload.addr",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "addr",
                "pt": "msg",
                "to": "$substring(addr,12)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "date",
                "pt": "msg",
                "to": "$moment(data.received).format(\"YYYY-MM-DD\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "$moment(data.received).format(\"HH:mm:ss\")",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload.original",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "6cecc2ea0bb96daa"
            ]
        ]
    },
    {
        "id": "9186ce31f69eeadf",
        "type": "change",
        "z": "367c0125f933bfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userpath",
                "pt": "flow",
                "to": "path",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "afff5407a4c02b5c",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "build-local-path",
        "func": "var date = flow.get('date') || 0;\nvar basePath = flow.get('userpath');\nvar device = msg.device;\nmsg.filename = basePath + \"/\" + device + \"/\" + date + \"/\" + date + \"_\" + device + \".csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 840,
        "wires": [
            [
                "7ca014cf5c2c22a1",
                "916fdfee0dacbb72"
            ]
        ]
    },
    {
        "id": "ae71c3f584d4af92",
        "type": "http response",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1490,
        "y": 840,
        "wires": []
    },
    {
        "id": "7ca014cf5c2c22a1",
        "type": "file in",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "read-file-from-local",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 840,
        "wires": [
            [
                "ae71c3f584d4af92"
            ]
        ]
    },
    {
        "id": "5a49bc11c69f32f9",
        "type": "catch",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "",
        "scope": [
            "7ca014cf5c2c22a1"
        ],
        "uncaught": false,
        "x": 970,
        "y": 920,
        "wires": [
            [
                "3aa1ed372bd363ca",
                "373c0bfed63f5c82"
            ]
        ]
    },
    {
        "id": "b015300ae5e56747",
        "type": "http in",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "",
        "url": "/csv/:fn",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 770,
        "y": 840,
        "wires": [
            [
                "a4bade70426d3646"
            ]
        ]
    },
    {
        "id": "a4bade70426d3646",
        "type": "change",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "fomat-addr",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "macSelection",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "afff5407a4c02b5c"
            ]
        ]
    },
    {
        "id": "ff09bfb97c5f7a34",
        "type": "ui-notification",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "ui": "ec459411017ddf37",
        "position": "top left",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "15",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "",
        "raw": false,
        "className": "",
        "name": "show-notifications",
        "x": 1380,
        "y": 900,
        "wires": []
    },
    {
        "id": "3aa1ed372bd363ca",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "error message",
        "func": "var error = \"Error: no such file or directory\";\nmsg = {};\nmsg.payload = error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 900,
        "wires": [
            [
                "8b9170e2771f4b40"
            ]
        ]
    },
    {
        "id": "8b9170e2771f4b40",
        "type": "trigger",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1255,
        "y": 900,
        "wires": [
            [
                "ff09bfb97c5f7a34"
            ]
        ],
        "l": false
    },
    {
        "id": "373c0bfed63f5c82",
        "type": "http response",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "Redirecting",
        "statusCode": "302",
        "headers": {
            "location": "/dashboard/download_csv"
        },
        "x": 1130,
        "y": 940,
        "wires": []
    },
    {
        "id": "5c1ffe5a9a96e09d",
        "type": "ui-text-input",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "group": "c9733dde78cc1406",
        "name": "date-picker",
        "label": "Select Date:",
        "order": 2,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "",
        "delay": "30",
        "passthru": false,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 770,
        "y": 740,
        "wires": [
            [
                "dff91035a57735ab"
            ]
        ]
    },
    {
        "id": "54b1afc2cc6fa040",
        "type": "ui-template",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "group": "c9733dde78cc1406",
        "page": "",
        "ui": "",
        "name": "download-button",
        "order": 3,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>  \n    <a :href=\"`${msg.payload}`\" class=\"download\">\n        <v-btn>Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.download .v-btn {\n    width: 100%;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f8772a73c94b8c46",
        "type": "ui-dropdown",
        "z": "367c0125f933bfb7",
        "g": "612ef728a32f9e5e",
        "group": "c9733dde78cc1406",
        "name": "dropdown-address",
        "label": "Select Device",
        "tooltip": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "67a28d025ff38caf",
                "ee1fc8c0baed35d2"
            ]
        ]
    },
    {
        "id": "f55aa002438094ac",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "612ef728a32f9e5e",
        "name": "populate-options",
        "func": "/**\n * Node-RED function to populate msg.options with an array of stored MAC addresses.\n * Retrieves MAC addresses from a single flow storage key ('macAddresses').\n * \n * @param {Object} msg - Node-RED message object with mac_counter property\n * @returns {Object} msg - Updated message with options array containing MAC addresses\n */\n\n// Retrieve MAC addresses from flow storage\nconst macAddresses = flow.get('macAddresses') || [];\n\n// Ensure mac_counter does not exceed stored array length\nconst count = Math.min(msg.mac_counter, macAddresses.length);\n\n// Populate options array\nmsg.options = macAddresses.slice(0, count);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 560,
        "wires": [
            [
                "f8772a73c94b8c46"
            ]
        ]
    },
    {
        "id": "53b4fe5732ba269e",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "612ef728a32f9e5e",
        "name": "track-unique-mac",
        "func": "/**\n * Node-RED function to track unique MAC addresses and count occurrences.\n * Stores MAC addresses in a single flow array and maintains a counter.\n * Returns msg with mac_counter and newdevice properties.\n * \n * @param {Object} msg - Node-RED message object with payload.addr (MAC address)\n * @returns {Object} msg - Updated message with mac_counter and newdevice\n */\n\n// Configuration\nconst MAX_MAC_ADDRESSES = 128; // Prevent unbounded growth\n\n// Normalize MAC address (e.g., lowercase for consistent comparison)\nlet newMAC = msg.payload.addr.substring(12)\n\n// Initialize flow storage for MAC addresses and counter\nlet macAddresses = flow.get('macAddresses') || [];\nlet count = flow.get('macCount') || 0;\n\n// Check if MAC address already exists\nconst isExistingMAC = macAddresses.includes(newMAC);\n\nif (isExistingMAC) {\n    // MAC address already exists\n    msg.mac_counter = count;\n    msg.new_device = false;\n} else {\n    // New MAC address\n    if (count >= MAX_MAC_ADDRESSES) {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n    } else {\n        macAddresses.push(newMAC);\n        count++;\n        flow.set('macAddresses', macAddresses);\n        flow.set('macCount', count);\n        msg.mac_counter = count;\n        msg.new_device = true;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 560,
        "wires": [
            [
                "f55aa002438094ac"
            ]
        ]
    },
    {
        "id": "67a28d025ff38caf",
        "type": "change",
        "z": "367c0125f933bfb7",
        "g": "612ef728a32f9e5e",
        "name": "save-slection",
        "rules": [
            {
                "t": "set",
                "p": "macSelection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "916fdfee0dacbb72",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "delete-local-file",
        "func": "// var date = flow.get('date') || 0;\n// var basePath = flow.get('userpath');\n// var device = msg.device;\n// let path = basePath + \"/\" + device + \"/\" + date;\nlet path = msg.filename;\nmsg.payload = 'rm -r ' + path;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "920dd385513c57fe"
            ]
        ]
    },
    {
        "id": "920dd385513c57fe",
        "type": "exec",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1450,
        "y": 780,
        "wires": [
            [
                "50e630bb191e3cbe"
            ],
            [
                "50e630bb191e3cbe"
            ],
            [
                "c52c58538a600a0f",
                "50e630bb191e3cbe"
            ]
        ]
    },
    {
        "id": "50e630bb191e3cbe",
        "type": "debug",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 760,
        "wires": []
    },
    {
        "id": "dff91035a57735ab",
        "type": "switch",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "verify",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "719f3663bdb487dc"
            ]
        ]
    },
    {
        "id": "719f3663bdb487dc",
        "type": "change",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "set-date-download",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 740,
        "wires": [
            [
                "ee1fc8c0baed35d2"
            ]
        ]
    },
    {
        "id": "ee1fc8c0baed35d2",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "get-mac-selection",
        "func": "let mac = flow.get('macSelection') || '';\nlet date = flow.get('date') || '';\nmsg = {};\nmsg.payload = \"/csv/\" + date + \"_\" + mac + \".csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 720,
        "wires": [
            [
                "54b1afc2cc6fa040"
            ]
        ]
    },
    {
        "id": "c52c58538a600a0f",
        "type": "switch",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "check",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1590,
        "y": 800,
        "wires": [
            [
                "dc27068110a06ab6"
            ]
        ]
    },
    {
        "id": "dc27068110a06ab6",
        "type": "change",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "File deleted locally",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 800,
        "wires": [
            [
                "bdc4cf42432570d8"
            ]
        ]
    },
    {
        "id": "bdc4cf42432570d8",
        "type": "trigger",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1825,
        "y": 800,
        "wires": [
            [
                "ff09bfb97c5f7a34"
            ]
        ],
        "l": false
    },
    {
        "id": "144115236c81e34e",
        "type": "comment",
        "z": "367c0125f933bfb7",
        "name": "👇Set your /dev/ttymxc2 port here",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "f7b49db739d27e79",
        "type": "comment",
        "z": "367c0125f933bfb7",
        "name": "👇Default path: /home/ncdio/.node-red/ncd_log",
        "info": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "782a349dfeef3656",
        "type": "ui-button",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "group": "c9733dde78cc1406",
        "name": "",
        "label": "Delete CSVs for This Device",
        "order": 4,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "73d57daa16667e08"
            ]
        ]
    },
    {
        "id": "73d57daa16667e08",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "build cmd",
        "func": "let date = flow.get('date') || null;\nlet device = flow.get('macSelection') || null;\nlet path = flow.get('userpath') || null;\nif(date != null && device != null && path != null){\n    msg.command = 'rm -r ' + path + \"/\" + device;\n    msg.payload = 'Are you sure you want to delete all local CSV files from the selected device? This action cannot be undone.';\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "b95a29cc092f43a7"
            ]
        ]
    },
    {
        "id": "b95a29cc092f43a7",
        "type": "ui-notification",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "ui": "ec459411017ddf37",
        "position": "top left",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Cancel",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "notif",
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "378fdc01118aa93e"
            ]
        ]
    },
    {
        "id": "12591705d9a7449d",
        "type": "exec",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "command": "",
        "addpay": "command",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1445,
        "y": 1000,
        "wires": [
            [
                "7c18c3c1e4960274"
            ],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "955cc824bd59dc07",
        "type": "ui-button",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "group": "c9733dde78cc1406",
        "name": "",
        "label": "Delete All Files",
        "order": 5,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 880,
        "y": 1020,
        "wires": [
            [
                "1df3409f07086094"
            ]
        ]
    },
    {
        "id": "1df3409f07086094",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "build cmd",
        "func": "let path = flow.get('userpath') || null;\nif(path != null){\n    msg.command = 'rm -r ' + path;\n    msg.payload = 'Delete all CSV files? This action can not be undone.';\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1020,
        "wires": [
            [
                "b95a29cc092f43a7"
            ]
        ]
    },
    {
        "id": "378fdc01118aa93e",
        "type": "switch",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "confirm",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm_clicked",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 1340,
        "y": 1000,
        "wires": [
            [
                "12591705d9a7449d"
            ]
        ]
    },
    {
        "id": "7c18c3c1e4960274",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "77a18e0520aad55c",
        "name": "error",
        "func": "if(msg.rc.code){\n    msg.payload = 'No such file or directory';\n    return msg;\n}else{\n    msg.payload = 'File deleted from local';\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1000,
        "wires": [
            [
                "8b9170e2771f4b40"
            ]
        ]
    },
    {
        "id": "6cecc2ea0bb96daa",
        "type": "function",
        "z": "367c0125f933bfb7",
        "g": "6ce5d36c05508085",
        "name": "build-path",
        "func": "var userpath = flow.get('userpath');\nvar address = msg.addr;\nvar date = msg.date;\n\n// CSV local Path\nmsg.path = userpath + \"/\" + address + \"/\" + date + \"/\" + date + \"_\" + address + \".csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 400,
        "wires": [
            [
                "71021df82448d14a"
            ]
        ]
    },
    {
        "id": "2b9a0b4501e9b791",
        "type": "inject",
        "z": "367c0125f933bfb7",
        "name": "inject",
        "props": [
            {
                "p": "path",
                "v": "/home/ncdio/.node-red/ncd_log",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "9186ce31f69eeadf"
            ]
        ]
    },
    {
        "id": "ec459411017ddf37",
        "type": "ui-base",
        "name": "ncd-ui-base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "c9733dde78cc1406",
        "type": "ui-group",
        "name": "Download",
        "page": "cf58fa4b265306df",
        "width": "2",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cf58fa4b265306df",
        "type": "ui-page",
        "name": "NCD Dashboard - Sensor Data CSVs",
        "ui": "ec459411017ddf37",
        "path": "/download_csv",
        "icon": "home",
        "layout": "grid",
        "theme": "07c199eab558353d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "07c199eab558353d",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "45f8c62f45cfb14f",
        "type": "global-config",
        "env": [],
        "modules": {
            "@ncd-io/node-red-enterprise-sensors": "1.4.4",
            "@flowfuse/node-red-dashboard": "1.26.0"
        }
    }
]
